# Bỏ qua tất cả thư mục node_modules
node_modules/

# Bỏ qua thư mục wallet (chứa key)
qlsach-backend/wallet/

# Bỏ qua các file môi trường .env
.env
.env.*

# Bỏ qua file chaincode đã nén
*.tar.gz

# Bỏ qua file log
*.log
